<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wusc.edu.pay.core.boss.dao.impl.ArticleDaoImpl">

	<sql id="table"> TBL_BOSS_ARTICLE </sql>

	<resultMap id="beanMap" type="Article">
		<id column="ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="TYPE" property="type" />
		<result column="TITLE" property="title" />
		<result column="CONTENT" property="content" />
		<result column="EDITTIME" property="editTime" />
		<result column="OPERATORID" property="operatorId" />
		<result column="OPERATORNAME" property="operatorName" />
		<result column="STATUS" property="status" />
		<result column="ARTICLETYPE" property="articleType" />
	</resultMap>

	<insert id="insert" parameterType="Article" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table" />
		(VERSION, CREATETIME, TYPE, TITLE, CONTENT, EDITTIME, OPERATORID, OPERATORNAME ,STATUS, ARTICLETYPE )
		values (0, #{createTime}, #{type}, #{title}, #{content}, #{editTime}, #{operatorId}, #{operatorName}, #{status}, #{articleType} )
	</insert>

	<!-- 更新:version+1 实现乐观锁 -->
	<update id="update" parameterType="Article">
		update
		<include refid="table" />
		<set>
			VERSION = #{version} + 1,
			TYPE = #{type},
			TITLE = #{title},
			CONTENT = #{content},
			EDITTIME = #{editTime},
			OPERATORID = #{operatorId},
			OPERATORNAME = #{operatorName},
			STATUS = #{status},
			ARTICLETYPE = #{articleType}
		</set>
		<where>
			ID = #{id} and VERSION = #{version}
		</where>
	</update>

	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="table" />
		where ID = #{id}
	</select>

	<sql id="condition_sql">
		<if test="id != null and id != ''"> and ID = #{id}</if>
		<if test="type != null and type != ''"> and TYPE = #{type}</if>
		<if test="title != null and title != ''"> and TITLE like CONCAT(CONCAT('%',#{title}), '%') </if>
		<if test="operatorName != null and operatorName != ''"> and OPERATORNAME = #{operatorName}</if>
		<if test="status != null and status != ''"> and STATUS = #{status}</if>
		<if test="articleType != null and articleType != ''"> and ARTICLETYPE = #{articleType}</if>
		<if test="beginDate != null and beginDate != null and endDate != '' and endDate != ''">
			and CREATETIME between #{beginDate} and CONCAT(#{endDate}, ' 23:59:59')
		</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by ID desc]]>
	</select>

	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		select count(1) from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<select id="listBy" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by ID desc]]>
	</select>

</mapper>