<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wusc.edu.pay.core.boss.dao.impl.MerchantSalesDaoImpl">

	<sql id="table"> TBL_BOSS_MERCHANT_SALES </sql>

	<resultMap id="beanMap" type="MerchantSales">
		<id column="ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="MERCHANTNO" property="merchantNo" />
		<result column="SALESID" property="salesId" />
		<result column="FULLNAME" property="merchantFullName" />
	</resultMap>

	<insert id="insert" parameterType="MerchantSales" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table" />
		(VERSION, CREATETIME, MERCHANTNO, SALESID)
		values (0, #{createTime}, #{merchantNo}, #{salesId})
	</insert>

	<!-- 更新:version+1 实现乐观锁 -->
	<update id="update" parameterType="MerchantSales">
		update
		<include refid="table" />
		<set>
			VERSION = #{version} + 1,
			MERCHANTNO = #{merchantNo},
			SALESID = #{salesId}
		</set>
		<where>
			ID = #{id} and VERSION = #{version}
		</where>
	</update>

	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="table" />
		where ID = #{id}
	</select>

	<select id="deleteById" parameterType="long">
		delete from
		<include refid="table" />
		where ID = #{id}
	</select>

	<sql id="condition_sql">
		<if test="id != null and id != ''"> and ID = #{id}</if>
		<if test="merchantNo != null and merchantNo != ''"> and merchantNo = #{merchantNo}</if>
		<if test="salesId != null and salesId != ''"> and salesId = #{salesId}</if>
		<if test="beginDate != null and beginDate != null and endDate != '' and endDate != ''">
			and CREATETIME between #{beginDate} and CONCAT(#{endDate}, ' 23:59:59')
		</if>
	</sql>
	
	<sql id="condition_sql1">
		<if test="id != null and id != ''"> and A.ID = #{id}</if>
		<if test="merchantNo != null and merchantNo != ''"> and A.merchantNo = #{merchantNo}</if>
		<if test="salesId != null and salesId != ''"> and A.salesId = #{salesId}</if>
		<if test="beginDate != null and beginDate != null and endDate != '' and endDate != ''">
			and A.CREATETIME between #{beginDate} and CONCAT(#{endDate}, ' 23:59:59')
		</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by ID desc]]>
	</select>

	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		select count(1) from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<select id="listBy" parameterType="java.util.Map" resultMap="beanMap">
		SELECT A.* , B.FULLNAME FROM
		<include refid="table" />
		AS A LEFT JOIN TBL_USER_MERCHANT_ONLINE AS B
		ON A.MERCHANTNO = B.MERCHANTNO
		<where>
			<include refid="condition_sql1" />
		</where>
	</select>

</mapper>