<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wusc.edu.pay.core.boss.dao.impl.ScoreLogDaoImpl">

	<sql id="table"> TBL_BOSS_SCORE_LOG </sql>

	<resultMap id="beanMap" type="ScoreLog">
		<id column="ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="ACCOUNTNO" property="accountNo" />
		<result column="CHANGESCORE" property="changeScore" />
		<result column="CHANGEDESC" property="changeDesc" />
	</resultMap>

	<insert id="insert" parameterType="ScoreLog" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table" />
		(VERSION,CREATETIME,ACCOUNTNO,CHANGESCORE,CHANGEDESC )
		values (0, #{createTime}, #{accountNo}, #{changeScore}, #{changeDesc})
	</insert>

	<!-- 更新:version+1 实现乐观锁 -->
	<update id="update" parameterType="ScoreLog">
		update
		<include refid="table" />
		<set>
			VERSION = #{version} + 1,
			ACCOUNTNO = #{accountNo},
			CHANGESCORE = #{changeScore},
			CHANGEDESC = #{changeDesc}
		</set>
		<where>
			ID = #{id} and VERSION = #{version}
		</where>
	</update>

	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="table" />
		where ID = #{id}
	</select>

	<sql id="condition_sql">
		<if test="accountNo != null and accountNo != ''"> and ACCOUNTNO = #{accountNo}</if>
		<if test="beginDate != null and beginDate != null and endDate != '' and endDate != ''">
			and CREATETIME between #{beginDate} and CONCAT(#{endDate}, ' 23:59:59')
		</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by ID desc]]>
	</select>

	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		select count(1) from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<select id="listBy" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

</mapper>