<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wusc.edu.pay.core.limit.dao.impl.AmountLimitPackDaoImpl">
	<!-- 表名 -->
	<sql id="table"> TBL_LIMIT_AMOUNT_LIMIT_PACK </sql>
	
	<resultMap id="beanMap" type="wusc.edu.pay.facade.limit.entity.AmountLimitPack">
		<id property="id" column="ID" />
		<result property="version" column="VERSION" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="name" column="NAME" />
		<result property="description" column="DESCRIPTION" />
		<result property="lastModifyTime" column="LAST_MODIFY_TIME" />
	</resultMap>

	<insert id="insert" parameterType="wusc.edu.pay.facade.limit.entity.AmountLimitPack" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO
		<include refid="table" />
		(
    VERSION,
		NAME,
		DESCRIPTION,
		CREATE_TIME,
		LAST_MODIFY_TIME
		) VALUES
		(
		0,
		#{name},
		#{description},
		FUN_NOW(),
		FUN_NOW()
		)
	</insert>
	<update id="update" parameterType="wusc.edu.pay.facade.limit.entity.AmountLimitPack">
		UPDATE
		<include refid="table" />
		<set>
			VERSION = #{version,jdbcType=INTEGER} + 1,
			NAME = #{name},
			DESCRIPTION = #{description},
			LAST_MODIFY_TIME = FUN_NOW()
		</set>
		WHERE ID = #{id} and VERSION = #{version,jdbcType=INTEGER}
	</update>
	<delete id="deleteById" parameterType="java.util.Map">
		DELETE FROM
		<include refid="table" />
		WHERE ID = #{id}
	</delete>
	<select id="getById" parameterType="string" resultMap="beanMap">
		SELECT * FROM
		<include refid="table" />
		WHERE ID = #{id}
	</select>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by ID desc]]>
	</select>
	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		SELECT COUNT(1) FROM
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<sql id="condition_sql">
		<if test="name != null and name != ''"> and NAME like CONCAT(CONCAT('%', #{name}), '%')</if>
	</sql>

	<select id="listBy" parameterType="java.util.Map" resultType="wusc.edu.pay.facade.limit.entity.AmountLimitPack">
		SELECT
		ID as "id",
    VERSION as "version",
		NAME as "name",
		DESCRIPTION as "description",
		CREATE_TIME as "createTime",
		LAST_MODIFY_TIME as "lastModifyTime"
		FROM
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<select id="getAmountLimitPackByName" parameterType="string" resultType="wusc.edu.pay.facade.limit.entity.AmountLimitPack">
		SELECT
		ID as "id",
    VERSION as "version",
		NAME as "name",
		DESCRIPTION as "description",
		CREATE_TIME as "createTime",
		LAST_MODIFY_TIME as "lastModifyTime"
		FROM
		<include refid="table" />
		where NAME = #{name}
	</select>
</mapper>