<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wusc.edu.pay.core.limit.dao.impl.LimitSwitchDaoImpl">
	 
  
  <sql id="condition_sql">
	<if test="payProductCode != null and payProductCode != ''"> and PAY_PRODUCT_CODE = #{payProductCode,jdbcType=VARCHAR}</if>
	<if test="payProductName != null and payProductName != ''"> and PAY_PRODUCT_NAME = #{payProductName,jdbcType=VARCHAR}</if>
	<if test="status != null and status != ''"> and STATUS = #{status,jdbcType=SMALLINT}</if>
  </sql>

  
  <select id="getAllPayProduct" parameterType="java.util.Map" resultType="wusc.edu.pay.facade.limit.entity.LimitSwitch">
	select PAY_PRODUCT_CODE as payProductCode,PAY_PRODUCT_NAME as payProductName from TBL_RULE_PAY_PRODUCT
	<where>
		<include refid="condition_sql" />
	</where>
  </select>
  
  <select id="getPayWayByPayProduct" parameterType="java.util.Map" resultType="wusc.edu.pay.facade.limit.entity.LimitSwitch">
	select PAY_WAY_CODE as payWayCode,PAY_WAY_NAME as payWayName from TBL_RULE_PAY_WAY
	<where>
		<include refid="condition_sql" />
	</where>
  </select>
</mapper>