<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://code.alibabatech.com/schema/dubbo  
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:reference interface="wusc.edu.pay.facade.account.service.AccountManagementFacade" id="accountManagementFacade" check="false" />
	<dubbo:reference interface="wusc.edu.pay.facade.account.service.AccountQueryFacade" id="accountQueryFacade" check="false" />
	<dubbo:reference interface="wusc.edu.pay.facade.settlement.service.SettManagementFacade" id="settManagementFacade" check="false" />

	<!-- 计费 -->
	<dubbo:reference interface="wusc.edu.pay.facade.fee.service.FeeManagerFacade" id="feeManagerFacade" check="false" />
	<!-- 开关限制包 -->
	<dubbo:reference interface="wusc.edu.pay.facade.limit.service.TradeLimitRouterFacade" id="tradeLimitRouterFacade" check="false" />
</beans>  