<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wusc.edu.pay.web.permission.dao.impl.PmsOperatorDaoImpl">

	<!-- Pms权限管理：操作员表 -->
	<sql id="pms_operator"> TBL_BOSS_PMS_OPERATOR </sql>
	<sql id="pms_role_operator"> TBL_BOSS_PMS_ROLE_OPERATOR </sql>

	<resultMap id="beanMap" type="PmsOperator">
		<id column="ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="LOGINNAME" property="loginName" />
		<result column="LOGINPWD" property="loginPwd" />
		<result column="CREATETIME" property="createTime" />
		<result column="REMARK" property="remark" />
		<result column="REALNAME" property="realName" />
		<result column="MOBILENO" property="mobileNo" />
		<result column="STATUS" property="status" />
		<result column="TYPE" property="type" />
		<result column="LASTLOGINTIME" property="lastLoginTime" />
		<result column="ISCHANGEDPWD" property="isChangedPwd" javaType="Boolean" jdbcType="SMALLINT"/>
		<result column="PWDERRORCOUNT" property="pwdErrorCount" />
		<result column="PWDERRORTIME" property="pwdErrorTime" />
	</resultMap>
	
	<insert id="insert" parameterType="PmsOperator" keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="pms_operator"/> (VERSION, LOGINNAME, LOGINPWD, CREATETIME, REMARK, 
		REALNAME, MOBILENO, STATUS, TYPE, LASTLOGINTIME, ISCHANGEDPWD, PWDERRORCOUNT, PWDERRORTIME) 
		values (0, #{loginName}, #{loginPwd}, FUN_NOW(), #{remark}, #{realName}, #{mobileNo}, #{status}, #{type}, 
		#{lastLoginTime}, #{isChangedPwd,javaType=Boolean,jdbcType=SMALLINT}, #{pwdErrorCount}, #{pwdErrorTime})
	</insert>
	
	<update id="update" parameterType="PmsOperator">
		update <include refid="pms_operator"/>
		<set>			
			VERSION = #{version}+1,
			LOGINNAME = #{loginName},
			LOGINPWD = #{loginPwd},
			REMARK = #{remark},
			REALNAME = #{realName},
			MOBILENO = #{mobileNo},
			STATUS = #{status},
			TYPE = #{type},
			LASTLOGINTIME = #{lastLoginTime},
			ISCHANGEDPWD = #{isChangedPwd,javaType=Boolean,jdbcType=SMALLINT},
			PWDERRORCOUNT = #{pwdErrorCount},
			PWDERRORTIME = #{pwdErrorTime}
		</set>
		<where>
			ID = #{id} and VERSION = #{version}
		</where>
	</update>
	
  	<select id="getById" parameterType="long" resultType="PmsOperator">
    	select * from <include refid="pms_operator"/> where ID = #{id}
  	</select>
  	
  	<select id="findByLoginName" parameterType="string" resultType="PmsOperator">
    	select * from <include refid="pms_operator"/> where LOGINNAME = #{loginName}
  	</select>
  	
  	<select id="listAll" resultMap="beanMap">
    	select * from <include refid="pms_operator"/> order by ID
  	</select>
  	
  	<delete id="deleteById" parameterType="long">
    	delete from <include refid="pms_operator"/> where ID = #{id}
  	</delete>

	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="loginName != null and loginName != ''"> and LOGINNAME = #{loginName}</if>
		<if test="status != null and status != ''"> and STATUS = #{status}</if>
		<!-- Like query -->
		<if test="realName != null and realName != ''"> and REALNAME like CONCAT(CONCAT('%', #{realName}), '%')</if>
	</sql>
	
	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from  
		<include refid="pms_operator"/>
		
		<where>
			<include refid="condition_sql" />
		</where>
		order by id desc 
		 
	</select>
	
	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		select count(1) from <include refid="pms_operator"/>
		<where>
			<include refid="condition_sql"/>
		</where>
	</select>

	<select id="listByRoleId" parameterType="long" resultMap="beanMap">
		select O.* from <include refid="pms_operator"/> O LEFT JOIN  <include refid="pms_role_operator"/> RO ON
			O.ID = RO.OPERATORID WHERE RO.ROLEID = #{roleId}
	</select>
	
</mapper>