.download_install:hover{
    text-decoration:underline;
}
.download_install{
    font:12px sans-serif;
    border:1px solid #7F9DB9;
    line-height:22px;
    color:#06F!important;
    width:162px;
    height:22px;
    display:inline-block;
    text-align:center;
    cursor:pointer;
    text-decoration:none;
    outline:none;
}