<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wusc.edu.pay.core.user.dao.impl.MerchantSecretDaoImpl">

	<sql id="table"> TBL_USER_MERCHANT_SECRET </sql>

	<resultMap id="beanMap" type="MerchantSecret">
		<id column="ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="MERCHANTNO" property="merchantNo" />
		<result column="PUBLICKEY" property="publicKey" />
		<result column="PRIVATEKEY" property="privateKey" />
		<result column="MERCHANTPUBLICKEY" property="merchantPublicKey" />
	</resultMap>

	<insert id="insert" parameterType="MerchantSecret" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table" />
		(VERSION, CREATE_TIME,MERCHANTNO,PUBLICKEY,PRIVATEKEY,MERCHANTPUBLICKEY)
		values (0, FUN_NOW(),#{merchantNo}, #{publicKey}, #{privateKey},#{merchantPublicKey})
	</insert>

	<!-- 更新:version+1 实现乐观锁 -->
	<update id="update" parameterType="MerchantSecret">
		update
		<include refid="table" />
		<set>
			VERSION = #{version}+1 ,
			PUBLICKEY=#{publicKey},
			PRIVATEKEY=#{privateKey},
			MERCHANTPUBLICKEY=#{merchantPublicKey}
		</set>
		<where>
			ID = #{id} and VERSION = #{version}
		</where>
	</update>

	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="table" />
		where ID = #{id}
	</select>

	<sql id="condition_sql">
		<if test="merchantNo != null and merchantNo != ''"> and MERCHANTNO = #{merchantNo}</if>
	</sql>

	<select id="listBy" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by ID desc]]>
	</select>
	
</mapper>