<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wusc.edu.pay.core.user.dao.impl.UserRelationDaoImpl">

	<sql id="table"> TBL_USER_RELATION </sql>

	<resultMap id="beanMap" type="wusc.edu.pay.facade.user.entity.UserRelation">
		<id column="ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="PARENT_USER_NO" property="parentUserNo" />
		<result column="CHILD_USER_NO" property="childUserNo" />
	</resultMap>

	<insert id="insert" parameterType="wusc.edu.pay.facade.user.entity.UserRelation" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table" />
		(VERSION, CREATE_TIME, PARENT_USER_NO, CHILD_USER_NO)
		values (0, #{createTime}, #{parentUserNo}, #{childUserNo})
	</insert>

	<!-- 更新:version+1 实现乐观锁 -->
	<update id="update" parameterType="wusc.edu.pay.facade.user.entity.UserRelation">
		update
		<include refid="table" />
		<set>
			VERSION = #{version}+1 ,
			PARENT_USER_NO = #{parentUserNo},
			CHILD_USER_NO = #{childUserNo},
		</set>
		<where>
			ID = #{id} and VERSION = #{version}
		</where>
	</update>

	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="table" />
		where ID = #{id}
	</select>

	<sql id="condition_sql">
		<if test="parentUserNo != null and parentUserNo !=''"> and PARENT_USER_NO = #{parentUserNo} </if>
		<if test="childUserNo != null and childUserNo != ''"> and CHILD_USER_NO = #{childUserNo} </if>
	</sql>

	<!-- 根据多参数进行查询数据 -->
	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by ID desc]]>
	</select>

	<select id="listBy" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

</mapper>