
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tishi:before { content: "\e600"; }

.icon-duihua:before { content: "\e601"; }

.icon-huan:before { content: "\e607"; }

.icon-dianhua:before { content: "\e60b"; }

.icon-jinggao:before { content: "\e609"; }

.icon-wanchengyuanxing:before { content: "\e60a"; }

.icon-jinggao1:before { content: "\e602"; }

.icon-fasongyoujian:before { content: "\e603"; }

.icon-xiazai2:before { content: "\e605"; }

.icon-shoucang:before { content: "\e604"; }

.icon-iconfontzhuce:before { content: "\e60f"; }

.icon-iconfontjisuwuliu:before { content: "\e608"; }

.icon-jiandingzhengshu:before { content: "\e606"; }

.icon-huiyuan:before { content: "\e60e"; }

.icon-fangbianlogin1:before { content: "\e610"; }

.icon-x-campaign-email:before { content: "\e60c"; }

.icon-gengduoxia:before { content: "\e60d"; }

