<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wusc.edu.pay.core.fee.dao.impl.FeeDimensionDaoImpl">

	<sql id="table"> TBL_FEE_DIMENSION </sql>

	<resultMap id="beanMap" type="FeeDimension">
		<id property="id" column="ID" />
		<result property="version" column="VERSION" />
		<result property="createTime" column="CREATETIME" />
		<result property="feeNodeId" column="FEE_NODE_ID" />
		<result property="payProduct" column="PAY_PRODUCT" />
		<result property="frpCode" column="FRP_CODE" />
		<result property="bankChannelCode" column="BANK_CHANNEL_CODE" />
		<result property="payProductName" column="PAY_PRODUCT_NAME" />
		<result property="status" column="STATUS" />
	</resultMap>

	<insert id="insert" parameterType="FeeDimension" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table" />
		(VERSION, CREATETIME, FEE_NODE_ID, PAY_PRODUCT, FRP_CODE, BANK_CHANNEL_CODE, PAY_PRODUCT_NAME,STATUS)
		values (0, #{createTime}, #{feeNodeId}, #{payProduct}, #{frpCode}, #{bankChannelCode},
		#{payProductName},#{status})
	</insert>

	<!-- 更新:version+1 实现乐观锁 -->
	<update id="update" parameterType="FeeDimension">
		update
		<include refid="table" />
		<set>
			VERSION = #{version}+1 ,
			FEE_NODE_ID = #{feeNodeId},
			PAY_PRODUCT = #{payProduct},
			FRP_CODE = #{frpCode},
			BANK_CHANNEL_CODE = #{bankChannelCode},
			PAY_PRODUCT_NAME = #{payProductName},
			STATUS =
			#{status}
		</set>
		<where>
			ID = #{id} and VERSION = #{version}
		</where>
	</update>

	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="table" />
		where ID = #{id}
	</select>

	<sql id="condition_sql">
		<if test="payProduct != null and payProduct !='' "> and PAY_PRODUCT = #{payProduct}</if>
		<if test="feeNodeId != null and feeNodeId !='' "> and FEE_NODE_ID = #{feeNodeId}</if>
		<if test="frpCode != null and frpCode !='' "> and FRP_CODE = #{frpCode}</if>
		<if test="payProductName != null and payProductName !='' ">
			and PAY_PRODUCT_NAME = #{payProductName}
		</if>
		<if test="status!=null and status!=''"> and STATUS = #{status} </if>
	</sql>

	<select id="listBy" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by ID desc]]>
	</select>

	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		select count(1) from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

</mapper>