<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wusc.edu.pay.core.settlement.dao.impl.SettDayAdjustSettingDaoImpl">

	<sql id="table"> TBL_SETT_DAY_ADJUST_SETTING </sql>

	<resultMap id="BaseResultMap" type="wusc.edu.pay.facade.settlement.entity.SettDayAdjustSetting">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="VERSION" property="version" jdbcType="INTEGER" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="OLD_DATE" property="oldDate" jdbcType="DATE" />
		<result column="NEW_DATE" property="newDate" jdbcType="DATE" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, VERSION, CREATE_TIME, OLD_DATE, NEW_DATE, REMARK
	</sql>

	<sql id="condition_sql">
		<if test="beginDate != null and endDate != null and endDate !='' and beginDate != ''">
			and CREATE_TIME between #{beginDate} and CONCAT(#{endDate},' 23:59:59')
		</if>
		<if test="oldDate != null and oldDate != null"> and OLD_DATE = #{oldDate}</if>
		<if test="newDate != null and newDate != null"> and NEW_DATE = #{newDate}</if>
	</sql>

	<insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="wusc.edu.pay.facade.settlement.entity.SettDayAdjustSetting">
		insert into
		<include refid="table" />
		(VERSION, CREATE_TIME,
		OLD_DATE, NEW_DATE, REMARK)
		values (0, #{createTime},
		#{oldDate,jdbcType=DATE}, #{newDate,jdbcType=DATE}, #{remark,jdbcType=VARCHAR})
	</insert>

	<update id="update" parameterType="wusc.edu.pay.facade.settlement.entity.SettDayAdjustSetting">
		update
		<include refid="table" />
		set VERSION = #{version,jdbcType=INTEGER} + 1,
		OLD_DATE = #{oldDate,jdbcType=DATE},
		NEW_DATE = #{newDate,jdbcType=DATE},
		REMARK = #{remark,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=BIGINT} and VERSION = #{version,jdbcType=INTEGER}
	</update>

	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table" />
		where ID = #{id,jdbcType=BIGINT}
	</select>

	<select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<delete id="deleteById" parameterType="java.lang.Long">
		delete from
		<include refid="table" />
		where ID = #{id,jdbcType=BIGINT}
	</delete>

	<select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by ID desc]]>
	</select>

	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		select count(1) from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

</mapper>