<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wusc.edu.pay.core.report.dao.impl.ErrorCodeSummaryDaoImpl">

	<sql id="table"> TBL_REPORT_DAY </sql>

	<resultMap id="beanMap" type="ErrorCodeSummary">
		<id column="ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="STAT_DATE" property="statDate" />
		<result column="REPORT_TYPE" property="reportType" />
		<result column="TRX_DATE" property="trxDate" />
		<result column="VAR_1" property="errorCode" />
		<result column="INT_1" property="totalCount" />
		<result column="DEC_1" property="totalAmount" />
		<result column="VAR_2" property="errorMsg" />
	</resultMap>

	<sql id="condition_sql">
		<if test="reportType != null and reportType !=''"> AND REPORT_TYPE = #{reportType} </if>
		<if test="startDate != null and startDate != '' and endDate != '' and endDate != null">
			AND TRX_DATE between #{startDate} and #{endDate}
		</if>
	</sql>
	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		(select
		VAR_1,
		VAR_2,
		sum(INT_1) INT_1,
		sum(DEC_1) DEC_1
		from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		group by VAR_1
		) AS temp
	</select>

	<select id="listPageCount" parameterType="java.util.Map"
		resultType="long">
		select count(1) from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<insert id="createErrorCodeSummary" parameterType="java.util.Map">
		insert into
		<include refid="table" />
		( VERSION,CREATE_TIME,REPORT_TYPE,STAT_DATE,TRX_DATE,VAR_1,INT_1,DEC_1)
		select
		0, #{dateTime}, #{reportType}, #{statDate}, #{transDate}, respcode, count(respcode), sum(amount*(3-2*debitflag))
		from
		POS_PP_TRANS
		where
		(respcode != '00' or respcode is null)
		and debitflag in (1,2)
		and transdate = #{fieldDate}
		group by
		respcode,transdate
	</insert>


</mapper>